<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="">
      <%= assigns[:page_title] || "Elixir 中国" %>
    </.live_title>
    <meta name="description" content="促进中国社区与国际社区接轨。" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain="elixir-china.club"
      src="https://analytics.2nd-spine.com/js/plausible.js"
    >
    </script>
  </head>
  <body class="antialiased">
    <%= @inner_content %>

    <footer class="font-mono text-xs py-24 text-center text-neutral-400 space-y-3">
      <p>
        <.external_link class="inline-link" href="https://phoenixframework.org/">
          Phoenix
        </.external_link>
        ✕
        <.external_link class="inline-link" href="https://github.com/c4710n">
          c4710n
        </.external_link>
      </p>
      <p>
        Hosted on
        <.external_link class="inline-link" href="https://fly.io">
          Fly.io
        </.external_link>
      </p>
    </footer>
  </body>
</html>
