<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Elixir 中国", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="antialiased">
    <%= @inner_content %>

    <footer class="font-mono text-xs py-24 text-center text-neutral-400">
      <%= external_link "Phoenix", to: "https://phoenixframework.org/", class: "inline-link" %>
      x
      <%= external_link "c4710n", to: "https://github.com/c4710n", class: "inline-link" %>
    </footer>
  </body>
</html>
